
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Contact Form With Captcha - reusable form</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!--script src="form.js"></script-->
    </head>
    <body >
      <div id="particles-js"></div>
      <div class="s">
        <div class="">
          <div class="w3-container">
          </div>
        </div>
      </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Edit Chemicals in the inventory </h2>
                    <form role="form" action="" method="post" id="reused_form" >
                        <div class="form-group">
                            <label for="name"> Item Name:</label>
                            <input type="text" class="form-control" id="name" name="item_name" value="<%= chemical.Item_Name %>" required maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Vendor:</label>
                            <input type="text" class="form-control" id="name" name="vendor" value="<%= chemical.Vendor %>" maxlength="50">
                        </div>
                        <!--div class="form-group">
                            <label for="name"> Material safety data sheet:</label>
                            <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                        </div-->
                        <div class="form-group">
                            <label for="name"> Catalog No:</label>
                            <input type="text" class="form-control" id="name" name="catalog_no" value="<%= chemical.Catalog_No %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Owner:</label>
                            <input type="text" class="form-control" id="name" name="owner" value="<%= chemical.Owner %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Location:</label>
                            <input type="text" class="form-control" id="name" name="location" value="<%= chemical.Location %>" required maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Sub-Location:</label>
                            <input type="text" class="form-control" id="name" name="sub_location" value="<%= chemical.Sub_location %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Location-Details:</label>
                            <input type="text" class="form-control" id="name" name="location_details" value="<%= chemical.Location_Details %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Price:</label>
                            <input type="number" class="form-control" id="name" name="price" value="<%= chemical.Price %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Stock:</label>
                            <input type="number" class="form-control" id="name" name="stock" value="<%= chemical.Stock %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Unit-Size:</label>
                            <input type="text" class="form-control" id="name" name="unit_size" value="<%= chemical.Unit_Size %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> URL:</label>
                            <input type="text" class="form-control" id="name" name="url" value="<%= chemical.URL %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Technical Details :</label>
                            <input type="text" class="form-control" id="name" name="technical_details" value="<%= chemical.Technical_Details %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Expiration Date:</label>
                            <input type="date" class="form-control" id="name" name="expiration_date" value="<%= chemical.Expiration_Date %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Lot No:</label>
                            <input type="text" class="form-control" id="name" name="lot_no" value="<%= chemical.Lot_No %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Cas No:</label>
                            <input type="text" class="form-control" id="name" name="cas_no" value="<%= chemical.Cas_No %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Created By:</label>
                            <input type="text" class="form-control" id="name" name="created_by" value="<%= chemical.Created_By %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Alternate Name:</label>
                            <input type="text" class="form-control" id="name" name="alternate_name" value="<%= chemical.Alternate_Name %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Bottle Reference:</label>
                            <input type="text" class="form-control" id="name" name="bottle_reference" value="<%= chemical.Bottle_Reference %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Date Opened:</label>
                            <input type="text" class="form-control" id="name" name="date_opened" value="<%= chemical.Date_Opened %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Formula:</label>
                            <input type="text" class="form-control" id="name" name="formula" value="<%= chemical.Formula %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Lifespan:</label>
                            <input type="text" class="form-control" id="name" name="lifespan" value="<%= chemical.Lifespan %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Molecular Weight:</label>
                            <input type="text" class="form-control" id="name" name="molecular_weight" value="<%= chemical.Molecular_Weight %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Physical State:</label>
                            <input type="text" class="form-control" id="name" name="physical_state" value="<%= chemical.Physical_State %>" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="name"> Purity:</label>
                            <input type="text" class="form-control" id="name" name="purity" value="<%= chemical.Purity %>" maxlength="50">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                    <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                </div>
            </div>
        </div>
         <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
         <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
         <script type="text/javascript" src="/js/particle.js"></script>
    </body>
</html>
