<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View</title>
</head>
<body>
  <form action="" method="post">
    Item Name<input type="text" name="item_name" placeholder="Item Name" required>
    Location<input type="text" name="location" placeholder="Location">
    <button type="submit">Submit</button>
  </form>
  <table>
    <tbody>
      <% result.forEach(function(chemical, index){ %>
          <tr>
              <td><%= chemical.Serial %></td>
              <td><%= chemical.Item_Name %></td>
              <td><%= chemical.Vendor %></td>
              <td><%= chemical.Location %></td>
              <td><%= chemical.Stock %></td>
              <% if(admin==1) {%>
              <td><a href="/update/<%= chemical.Serial %>">Edit</a></td>
              <% }%>
          </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
